*{ 
    margin:0;
    padding:0;
}
body{  
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: border-box;
    background-color: #000;
} 
header{ 
    background-image: url("asset/images/netflix-back.jpg");
    height:664px;
    position:relative;
    background-size: max(1200px,100vw);
    background-position: center center;
    background-repeat: no-repeat;
} 
header .box{
    height:664px;
    width:100%;
    background-color: #000;
    opacity:0.44;
    position:absolute;
    top:0;
}
nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  height: 100px;
  max-width: 80vw;
  margin:auto;
} 
nav img{
    width:150px;
    cursor:pointer;
    position:relative;
    z-index:10 ;
} 
nav button{
    position:relative;
    z-index:10;
    background-color: rgb(215, 18, 18);
    border-radius:5px;
    padding: 5px 14px;
    font-size:15px;
    color:#fff;
    cursor:pointer;
    margin-left:10px;
    font-weight:400;
}
.red-btn img{
    width:8px;
}
.header-content{
    height:calc(100% - 100px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    font-size:20px;
    gap:23px;
    padding: 0 27px;
    line-break:1;
    top:100px;
} 
.header-content.h1{
    font-weight: 900;
    font-size:48px;
    text-align:center;
}
.header-content.h4{
    font-weight:400;
    font-size:22px;
    margin-bottom:0;
}
.header-content.p{
    font-weight:400;
    font-size:20px;
    text-align:center;
    margin-bottom:0;
} 
.search{
    color:#fff;
    padding:7px 12px;
    margin-left:5px;
    margin-top:0;
    font-size:20px;
} 
.search input{
    color:white;
}
.start{ 
    background-color: #db0001; 
    border-radius:4px;
    padding:5px 38px;
    font-size:20px;
    color:#fff;
    font-weight:400;
}  
.separation-line{
    background-color: rgb(96, 94, 94);
    height:7px; 
    z-index:20;
    position: relative;
} 
.first-section{
    display:flex;
    justify-content: center;
    margin:auto;
    color:#fff;
    max-width: 70vw;
    justify-content:center;
    align-items:center;
}
section.first-section > div{
    display:flex;
    flex-direction:column;
}
section.first-section > div :nth-child(1){
    font-weight:bolder;
    font-size:48px;
}
section.first-section > div :nth-child(2){
    font-weight:bolder;
    font-size:20px;
}  
.secimg1{
    position:relative;
} 
.secimg1 img{
    width:50vw;
    position:relative;
    z-index: 10;
}
.secimg1 video{
   position:absolute;
   top:78px;
   right:0;
   width:44vw;
}
.second-section{
    display:flex;
    justify-content: center;
    margin:auto;
    color:#fff;
    max-width: 70vw;
    justify-content:center;
    align-items:center;
} 
.secimg2 img{
    width:50vw;
}
section.second-section > div{
    display:flex;
    flex-direction:column;
}  
section.second-section > div :nth-child(1){
    font-weight:bolder;
    font-size:44px;
} 
section.second-section > div :nth-child(2){ 
    font-weight:bolder;
    font-size:20px;
}
.third-section{
    display:flex;
    justify-content: center;
    margin:auto;
    color:#fff;
    max-width: 70vw;
    justify-content:center;
    align-items:center;
}  
section.third-section > div{
    display:flex;
    flex-direction:column;
} 
section.third-section > div :nth-child(1){
    font-weight:bolder;
    font-size:44px;
}  
section.third-section > div :nth-child(2){
    font-weight:bolder;
    font-size:20px;
}
.forth-section{  
    display:flex;
    justify-content: center;
    margin:auto;
    color:#fff;
    max-width: 70vw;
    justify-content:center;
    align-items:center;
} 
section.forth-section > div{
    display: flex;
    flex-direction:column;
} 
section.forth-section > div :nth-child(1){
    font-weight:bolder;
    font-size:44px;
} 
section.forth-section > div :nth-child(2){
    font-weight:bolder;
    font-size:20px;
}  
.faqbox h2{
    font-weight:400;
    font-size:54px;
    text-align:center;
    color:#fff;
}
.faqbox{
    background:#000;
    color:#fff;
    padding:32px;
}  
.faqbox-questions{
    text-align: center;
    justify-content:space-between;
    background-color: #272727;
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
.faqbox-questions:hover{
    background-color: #424242;
    color:#fff;
}
.faqbox-questions svg{
    filter:invert(1);
} 
footer{
    color:#fff;
    max-width:90vw;
    margin:auto;
    padding: 8px 60px;
} 
.query{
    padding:30px 0;
} 
.footer-item{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:rgba(255,255,255,0.7);
} 
.footer-item a{
    text-decoration: none;
    color:#fff;
}

